@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
     background-image: linear-gradient(to right,#015958,#015958)}
 main{
    background-color: white;
    border-radius: 22px;
    box-shadow: 10px 5px 16px black;
    width: 900px;
    padding: 11px;
    margin: auto;
 }
 h1{
     color: rgba(85, 136, 121, 0.762);
     text-align: center;
     text-shadow: 1px 2px 0px black;
 }
 h2{
    color: rgba(85, 136, 121, 0.762);
 }
 p{
     text-align: justify;} 